<div class="burger-card burger-card-burger flex-row mb-2 rounded">
    <div class="burger-card-text flex-content p-2">
        {{name}}
    </div>
    <button class="btn btn-link rounded-0 btn-main btn-eat" data-burger-id="{{id}}">Eat</button>
</div>
