<div class="burger-card flex-row mb-2 rounded" data-burger-id="{{id}}">
    <div class="burger-card-text flex-content bg-light p-2">
        {{name}}
    </div>
    <button class="btn btn-light rounded-0">Eat</button>
</div>
