<div class="burger-card burger-card-eaten flex-row mb-2 rounded">
    <div class="burger-card-text flex-content p-2">
        {{name}}
    </div>
    <button class="btn btn-link rounded-0 btn-delete" data-burger-id="{{id}}">Delete</button>
</div>
