<header class="py-4">
    <div class="container">
        
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"><span class="fas fa-hamburger"></span></h1>
                <h1 class="text-center">Make a Burger</h1>
                <form id="burger">
                    <textarea name="" id="burgerInput" cols="30" rows="5"></textarea>
                    <button id="create" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>
</header>
<main class="">
    <div class="container">
        <div class="row burger-row">
            <div id="burgers" class="col-md-6 burger-cont p-4">
                {{#each burgers}}
                        {{> burger}}
                {{/each}}
                {{!-- New Burgers --}}
            </div>
            <div id="burgersEaten" class="col-md-6 burger-cont p-4">
                {{!-- Eaten Burgers --}}
            </div>
        </div>
    </div>
</main>

