<header class="py-4">
    <div class="container">
        
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"><span class="fas fa-hamburger"></span></h1>
                <h1 class="text-center">Make a Burger</h1>
                <form id="burger">
                    <textarea name="" id="burger" cols="30" rows="5"></textarea>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>
</header>
<main class="py-4">
    <div class="container">
        <div class="row burger-row">
            <div class="col-md-6 burger-cont">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates esse, mollitia, ratione eveniet minima consectetur aliquam tenetur, temporibus recusandae culpa quaerat maxime. Atque velit iure rerum. Hic minus voluptate at.
            </div>
            <div class="col-md-6 burger-cont">

            </div>
        </div>
    </div>
</main>

