<header class="py-4">
    <div class="container">
        
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"><span class="fas fa-hamburger"></span></h1>
                <h1 class="text-center mb-4">Burger App</h1>
                <form id="burger" class="flex-row rounded mb-3">
                    <label for="burgerInput" class="sr-only">Add a Burger!</label>
                    <textarea name="burgerInput" id="burgerInput" cols="30" rows="2" class="flex-content p-2" placeholder="Add a burger!"></textarea>
                    <button id="create" type="submit" class="btn btn-primary flex-btn-right">Order</button>
                </form>
                <small id="error" class="error rounded p-2"><span class="fas fa-exclamation-circle mr-2"></span>Please only input letters and spaces.</small>
            </div>
        </div>

    </div>
</header>
<main class="">
    <div class="container">
        <div class="row burger-row">
            <div id="burgers" class="col-md-6 burger-cont p-4">
                <h4 class="mb-4">Order Ready!</h4>
                {{#each burgers}}
                    {{> burger}}
                {{/each}}
                {{!-- New Burgers --}}
            </div>
            <div id="burgersEaten" class="col-md-6 burger-cont p-4">
                <h4 class="mb-4">Eaten</h4>
                {{#each eaten}}
                    {{> eaten}}
                {{/each}}
                {{!-- Eaten Burgers --}}
            </div>
        </div>
    </div>
</main>

