:root{
    --color-dark: #222;
    --color-primary: #F37335;
    --color-secondary: #FDC830;
    --color-accent: #437EEB;
    --color-danger: #F03A3A;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    color: var(--color-dark);
}

h1, h4{
    font-family: "Montserrat", sans-serif;
}

h4{
    color: #888;
    text-align: center;
}

header{
    background: var(--color-primary); 
    background: -webkit-linear-gradient(to right, var(--color-primary), var(--color-secondary)); 
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
    color: #fff;
    flex: 0;
}

main{
    height: 100%;
    flex: 1;
    display: flex;
    background: #232526;  
    background: -webkit-linear-gradient(to right, #414345, #232526);  
    background: linear-gradient(to right, #414345, #232526); 
    box-shadow: -10px 10px 20px rgba(0,0,0,.25) inset;
}

.container{
    align-self: stretch;
}

.burger-row{
    height: 100%;
    display: flex;
    align-items: stretch;
}

.flex-row{
    display: flex;
}

.flex-content{
    width: 100%;
}

.flex-btn-right{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.burger-cont:first-child{
    border-bottom: 1px dashed #555;
}

.burger-card-text{
    box-shadow: 5px 0px 10px rgba(0,0,0,.125);
}

.burger-card{
    overflow: hidden;
    text-transform: capitalize;
    transition: background-color .5s;
    background-color: #e6e6e6;
    color: #414345;
}

.burger-card:hover{
    background-color: #fff;
    color: var(--color-dark);
}

.burger-card-burger{
    border-left: 3px solid var(--color-accent);
}

.burger-card-eaten{
    border-left: 3px solid var(--color-danger);
}

.btn-link{
    color: #ddd;
    transition: all .5s;
}

.btn-link:hover, .btn-link:active{
    color: #fff;
    text-decoration: none;
}

.btn-primary{
    background-color: #437EEB;
}

.btn-main{
    background-color: #3868C2;
}

.btn-main:hover{
    background-color: var(--color-accent);
}

.btn-delete{
    background-color: #D43333;
}

.btn-delete:hover{
    background-color: var(--color-danger);
}


/*Desktop*/
@media only screen and (min-width: 768px) {
   
    .burger-cont:first-child{
        border-bottom: none;
        border-right: 1px dashed #555;
    }
    /* .container{
    } */
}